  #warning {
    background-color: #f00;
    color: #fff;
    padding: 20px;
    font-family: Inconsolata;
    font-weight: bold;
    border-radius: 6px;
  }

  textarea.warning {
    background-color: #ffcccc;
  }

/* CSS Styles adapted from http://www.nurik.net/exp/iohighlighter/ */
body {
  background-color: #e8e8e8;
  -webkit-font-smoothing: antialiased;
}

body.theme-dark {
  background-color: #222;
}

paper-autogrow-textarea{
  width: 100%;
  min-height: 90px;
  font-family: Inconsolata;
  font-size: 20px;/*= 15pt, more info http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/*/
}
#taCode {
  background-color: #ffcccc;
  font-family: Inconsolata;
  font-size: 20px;/*= 15pt, more info http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/*/
}

/*Themes*/
.theme-dark #taCode {
  background-color: #300;
  color: #fff;
}

.theme-dark prettify-element::shadow pre { font-family: Inconsolata; font-size: 20px; background-color:transparent;}
.theme-dark prettify-element::shadow .pln { color: #fff }  /* plain text */
.theme-dark prettify-element::shadow .str,
.theme-dark prettify-element::shadow .atv { color: #57bb8a }  /* string content and attribute value */
.theme-dark prettify-element::shadow .kwd,
.theme-dark prettify-element::shadow .tag { color: #7baaf7;  }  /* a keyword or tag */
.theme-dark prettify-element::shadow .com { color: #aaa }  /* a comment */
.theme-dark prettify-element::shadow .typ,
.theme-dark prettify-element::shadow .var { color: #ff8a65 }  /* a type name or xq variable */
.theme-dark prettify-element::shadow .lit { color: #f4b400 }  /* a literal value */
.theme-dark prettify-element::shadow .pun,
.theme-dark prettify-element::shadow .opn,
.theme-dark prettify-element::shadow .clo { color: #a3a3a3 } /* punctuation, lisp open bracket, lisp close bracket */
.theme-dark prettify-element::shadow .atn { color: #f06292 }  /* a markup attribute name */
.theme-dark prettify-element::shadow .dec,
.theme-dark prettify-element::shadow .var { color: #e67c73 }  /* a declaration like doctype */
.theme-dark prettify-element::shadow .fun { color: #fff }  /* a function name */


.theme-light prettify-element::shadow pre { font-family: Inconsolata; font-size: 20px; background-color:transparent;}
.theme-light prettify-element::shadow .pln { color: #000 }  /* plain text */
.theme-light prettify-element::shadow .str,
.theme-light prettify-element::shadow .atv { color: #0f9d58 }  /* string content and attribute value */
.theme-light prettify-element::shadow .kwd,
.theme-light prettify-element::shadow .tag { color: #4285f4;  }  /* a keyword or tag */
.theme-light prettify-element::shadow .com { color: #999 }  /* a comment */
.theme-light prettify-element::shadow .typ,
.theme-light prettify-element::shadow .var { color: #673ab7 }  /* a type name or xq variable */
.theme-light prettify-element::shadow .lit { color: #db4437 }  /* a literal value */
.theme-light prettify-element::shadow .pun,
.theme-light prettify-element::shadow .opn,
.theme-light prettify-element::shadow .clo { color: #a3a3a3 } /* punctuation, lisp open bracket, lisp close bracket */
.theme-light prettify-element::shadow .atn { color: #e91e63 }  /* a markup attribute name */
.theme-light prettify-element::shadow .dec,
.theme-light prettify-element::shadow .var { color: #e67c73 }  /* a declaration like doctype */
.theme-light prettify-element::shadow .fun { color: #fff }  /* a function name */
